      <div id="accountPanel" class="panel hidden">
        <div class="account-header">
          <h2>My Account</h2>
          <div id="accountUserInfo"></div>
        </div>

        <div class="account-menu" id="accountMenu"></div>

        <div class="account-content" id="accountContent"></div>

        <div class="account-logout">
          <button id="logoutBtn" class="ui-icon-btn" type="button">
            <img src="/assets/icons/lucide/log-out.svg" alt="" class="ui-icon">
            <span class="ui-label">Log Out</span>
          </button>
        </div>
      </div>
